<If "%{HTTP_USER_AGENT} == 'GPTBot'">
        Require all denied
</If>

<If "%{HTTP_USER_AGENT} == 'Bytespider'">
        Require all denied
</If>

<If "%{HTTP_USER_AGENT} == 'ClaudeBot'">
        Require all denied
</If>

<If "%{HTTP_USER_AGENT} == 'Imagesiftbot'">
        Require all denied
</If>

<If "%{HTTP_USER_AGENT} == 'CCBot'">
        Require all denied
</If>

<If "%{HTTP_USER_AGENT} == 'ChatGPT-User'">
        Require all denied
</If>

<If "%{HTTP_USER_AGENT} == 'omgili'">
        Require all denied
</If>

<If "%{HTTP_USER_AGENT} == 'Claude-Web'">
        Require all denied
</If>

<If "%{HTTP_USER_AGENT} == 'PerplexityBot'">
        Require all denied
</If>

<If "%{HTTP_USER_AGENT} == 'DataForSeoBot'">
        Require all denied
</If>

<If "%{HTTP_USER_AGENT} == 'AhrefsBot'">
        Require all denied
</If>

<If "%{HTTP_USER_AGENT} == 'GoogleBot'">
        Require all denied
</If>

<If "%{HTTP_USER_AGENT} == 'GoogleOther'">
        Require all denied
</If>

<If "%{HTTP_USER_AGENT} == 'bingbot'">
        Require all denied
</If>

<If "%{HTTP_USER_AGENT} == 'YandexBot'">
        Require all denied
</If>
